.header-box {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .container {
  max-width: 1000px;
  margin: 0 auto;
}

header .dark-content .hero-hero {
  background-image: url(/img/jumbotron.jpg);
  background-size: cover;
  height: 20vW;
  z-index: -1;
}

header .active {
  background-color: #008cff;
}

main .green_text {
  color: #8CF69C;
}

main .white_text {
  color: #FFFFFF;
}

main .main_card {
  background-color: black;
}

main .border_comics {
  background-color: #0077ff;
  height: 50px;
}

main .products_comics {
  position: relative;
  top: -220px;
}

main .products_comics .info_bg {
  background-color: #55BA59;
  padding: 6px;
}

main .products_comics .comics_info_section {
  background-color: #F6F6F6;
  border: 1px solid #E3E3E3;
}

main .products_comics .comics_info_section .row {
  font-size: 12px;
}

main .products_comics .adv_text {
  text-align: right;
}

main .products_comics .adv_box {
  overflow: hidden;
}

main .products_comics .adv_box img {
  width: 100%;
  height: 100%;
}

main .products_comics .box-url {
  width: 150px;
  height: 200px;
  overflow: hidden;
  margin-bottom: 80px;
}

main .products_comics .box-url img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  height: 100%;
}

main .product-container {
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  gap: 0 5px;
  padding: 40px 0;
}

main .product-container a.product-card {
  text-decoration: none;
}

main .product-container .product-card {
  flex-basis: calc(16.6666666667% - 5px);
  height: 16.6666666667vw;
  position: relative;
}

main .product-container .product-card h6 {
  color: #FFFFFF;
}

main .product-container .product-card .box-url {
  max-height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}

main .product-container .product-card .box-url img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

footer .main-footer {
  color: #FFFFFF;
  padding: 10px 0;
  background-image: url(/img/footer-bg.jpg);
}

footer .container {
  max-width: 1000px;
  margin: 0 auto;
}

footer .container .listGroup {
  display: flex;
  text-align: left;
}

footer .container .listGroup .logo-bg {
  background-image: url(/img/dc-logo-bg.png);
  background-position: center;
  background-size: cover;
  width: 40%;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.Border_b {
  border-bottom: 1px solid #E3E3E3;
}

