
main{
    background-color: black;

    .product-container{
        text-align: left;
        display: flex;
        flex-wrap: wrap;
        gap:0 5px;
        padding: 40px 0;
    
       
       .product-card {
            flex-basis: calc((100% / 6) - 5px);
            height: calc(100vw / 6);
            position: relative;

           h6{
               color: #FFFFFF;
           }
    
            .box-url {
    
                max-width: 150px;
                max-height: 150px;
                object-fit: cover;
                overflow: hidden;
    
    
                img{
                    width: 100%;
                    object-fit: cover;
                }
            }
    
        
        }
    }
   
}